<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/adminDashboard.css">
</head>
<body>
    <div class="admin-dashboard">
        <h2>All Client</h2>
        <% if (formClient.length >0) { %>
            <% formClient.forEach((client) => { %>
                <a class="single "href="/admin/<%= client._id %>">
                    <h3 class="title"><%= client.company %></h3>
                </a>
                <button class="js-delete-button" data-id="<%= client._id %>">Delete</button>
            <% }) %>
        <% } else { %>
            <p>Aucun Client n'a rempli le formulaire pour le moment</p>
        <% } %>
    </div>
    <script src="/scripts/adminDashboard.js"></script>
</body>
</html>