<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/adminDashboard.css">
</head>
<body>
    <div class="admin-dashboard">
        <h2>All Client</h2>
        <% if (formClient.length >0) { %>
            <% formClient.forEach((client) => { %>
                <div class="client">
                    <div class="single" href="/admin/<%= client._id %>">
                        <h3 class="title"><%= client.company %></h3>
                    </div>
                    <div>
                        <button class="action-button add-button js-add-button" data-id="<%= client._id %>">
                            <img src="/images/add-file.svg">
                        </button>
                        <button class="action-button delete-button js-delete-button" data-id="<%= client._id %>">
                            <img src="/images/trashcan.svg">
                        </button>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>Aucun Client n'a rempli le formulaire pour le moment</p>
        <% } %>
    </div>
    <script src="/scripts/adminDashboard.js"></script>
</body>
</html>
