<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <main>
        <form action="/" method="POST">
            <header class="title">
                <div class="logo">
                    <img src="/images/logo.png" alt="KERLINK INC">
                </div>
                <div class="title-doc">
                    <h3>SUSCRIPTION FORM - MAINTAIN OFFER -</h3>
                    <p class="condition"> Appendix 1 to the Maintain service subscription contract </p>
                </div>
                <div class="date">
                    <label for="date">Date:</label>
                    <input type="text" id="date" name="date" required>
                </div>
            </header>
            <div class="document-part">
                <p class="title-part">CUSTOMER'S DETAILS</p>
                <div class="content">
                    <div class="part">
                        <p class="detail-part">Account</p>

                        <div class="input-element">
                            <label for="company">Company</label>
                            <input type="text" id="company" name="company" required>
                        </div>

                        <p class="detail-part">Adress</p>
                        <div class="input-element">
                            <label for="street">Street Number</label>
                            <input type="text" id="street" name="street" required>
                        </div>
                        <div class="input-element">
                            <label for="zip">ZIP Code</label>
                            <input type="text" id="zip" name="zip" required>
                        </div>
                        <div class="input-element">
                            <label for="country">Country</label>
                            <input type="text" id="country" name="country" required>
                        </div>
                    </div>
                    <div class="part">
                        <p class="detail-part">Contact detail</p>
                        <div class="input-element">
                            <label for="client_name">First Name</label>
                            <input type="text" id="client_name" name="client_name" required>
                        </div>
                        <div class="input-element">
                            <label for="phone">Phone Number</label>
                            <input type="text" id="phoner" name="phone" required>
                        </div>

                        <p class="detail-part">Adress</p>
                        <div class="input-element">
                            <label for="street-n">Street Name</label>
                            <input type="text" id="street-n" name="street_n" required>
                        </div>
                        <div class="input-element">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" required>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="document-part">
                <p class="title-part">CONTRACT DEFINITION</p>
                <div class="content">
                    <div class="part">
                        <div class="input-element">
                            <label for="object">Object</label>
                            <input type="text" id="object" name="object" value="MAINTAIN" readonly>
                        </div>

                        <p class="detail-part">Contact for technical support</p>
                        <div class="input-element">
                            <label for="name_sup">First Name</label>
                            <input type="text" id="name_sup" name="name_sup" required>
                        </div>
                        <div class="input-element">
                            <label for="last_name_sup">Last Name</label>
                            <input type="text" id="last_name_sup" name="last_name_sup" required>
                        </div>
                        <div class="input-element">
                            <label for="phone_sup">Phone Number</label>
                            <input type="text" id="phone_sup" name="phone_sup" required>
                        </div>
                        <div class="input-element">
                            <label for="mail">Mail</label>
                            <input type="text" id="mail" name="mail" required>
                        </div>
                    </div>
                    <div class="part">
                        <div class="input-element">
                            <label for="start_date">Start Date</label>
                            <input type="text" id="start_date" name="start_date" required>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="document-part">
                <p class="title-part">PRICES</p>
                <div class="content">
                    <div class="part">
                        <p class="detail-part">NETWORK SIZE&#42;</p>

                        <div class="price-image-container">
                            <img class="price-image" src="/images/prices.png" alt="PRICES">
                        </div>
                        <p class="condition">*Network size is intended number of gateways owned by a customer</p>
                    </div>
                </div>    
            </div>
            <div class="document-part">
                <p class="title-part">BILLING</p>
                <div class="content">
                    <div class="part">
                        <div class="input-element">
                            <label for="netSize">Initial network size</label>
                            <select id="netSize" name="netSize">
                            <option value="Up to 5">Up to 5</option>
                            <option value="Up to 10">Up to 10</option>
                            <option value="Up to 25">Up to 25</option>
                            <option value="Up to 50">Up to 50</option>
                            <option value="Up to 100">Up to 100</option>
                            <option value="Up to 250">Up to 250</option>
                            <option value="Up to 500">Up to 500</option>
                            <option value="Up to 1000">Up to 1000</option>
                            <option value="Above 1000">Above 1000</option>
                            </select>
                        </div>
                        <div class="input-element">
                            <label for="periodicity">Periodicity</label>
                            <select id="periodicity" name="periodicity">
                            <option value="Monthly">Monthly</option>
                            <option value="Quaterly">Quaterly</option>
                            <option value="Prepayment">Prepayment&#42;&#42;</option>
                            </select>
                        </div>
                    </div>
                    <div class="part">
                        <p class="condition"> The size of the network will be reviewed periodicaly</p>
                        <p class="condition"> &#42;&#42; An adjustment according to the billing plan will be made in case of a change of the network size</p>
                    </div>
                </div>
                <div>
                    <label for="indate">Invoicing Date</label>
                    <p class="inline"> Payment due at the beginning of the month for the period concerned</p>
                </div>
            </div>

            <div class="document-part">
                <p class="title-part">AGREEMENT FOR TEMPORARY ACCESS TO THE SERVICE</p>
                <div class="content">
                    <div class="part">
                        <p>By submitting this document, the contractor :</p>
                        <ul>
                            <li>
                                Certifies have read and understood the terms and conditions of the contract
                            </li>
                            <li>
                                Accepts of the contract and its appendixes
                            </li>
                            <li>
                                Authorizes Kerlink to contact the LNS provider, if necessary, in order to improve the efficiency of the support
                            </li>
                        </ul>
                        <input class="submit-button" type="submit" value="Submit">
                    </div>
                </div>    
            </div>
        </form>
    </main>
</body>
</html>