a {
    text-decoration: none !important;
}

.client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.client:hover {
    background-color: #f0f0f0;
}

.title {
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    margin: 0;
}

.delete-button {
    width: 40px;
    height: 40px;
    background-color: red;
    border: none;
    padding: 0;
    border-radius: 10px;
    cursor: pointer;
}

.delete-button img {
    margin-top: 2px;
    width: 30px; /* ajuster la taille de l'image */
    height: auto; /* conserver les proportions */
}

.delete-button:hover img {
    filter: brightness(0.8); /* effet de survol sur l'image */
}
